
{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

    {% block content %}
    
    {% comment %} -------------Let the pain begin {% endcomment %}
    <section class="signup-step-container">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="wizard">
                        <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true"><span class="round-tab">1 </span> <i>Assets</i></a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false"><span class="round-tab">2</span> <i>Expenses</i></a>
                                </li>
                                <li role="presentation" class="disabled">
                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"><span class="round-tab">3</span> <i>Additional Info</i></a>
                                </li>
                            </ul>
                        </div>
                        <form role="form" action="{% url 'budget' %}" method ="POST" class="login-box">
                            <div class="tab-content" id="main_form">
                                <div class="tab-pane active" role="tabpanel" id="step1">
                                    <h4 class="text-center">Input Your Assets</h4>
                                        {% csrf_token %}
                                        {{ monthly_incomeform|crispy }}
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="default-btn next-step">Continue to next step</button></li>
                                        {% comment %} <li><input type="submit" value="Make Budget" name="Continue"></li> {% endcomment %}
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="step2">
                                    <h4 class="text-center">Input Your Expenses</h4>
                                    {% csrf_token %}
                                    {{ monthlyExpense|crispy}}
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="default-btn prev-step">Back</button></li>
                                        {% comment %} <li><button type="button" class="default-btn next-step skip-btn">Skip</button></li> {% endcomment %}
                                        <li><button type="button" class="default-btn next-step">Continue</button></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="step3">
                                    <h4 class="text-center">Additional Info</h4>
                                
                                        {% csrf_token %}
                                        {{ misc_finance_form|crispy}}
                                    
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="default-btn prev-step">Back</button></li>
                                        {% comment %} <li><button type="button" class="default-btn next-step skip-btn">Skip</button></li> {% endcomment %}
                                        {% comment %} <li><button type="button" class="default-btn next-step">Get Budget Tips</button></li> {% endcomment %}
                                        <li><input class= 'default-btn next-step' type="submit" value="Get Budget Tips"></li>
                                    </ul>
                                </div>
                                    
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

  
    {% endblock content %}
