{% extends 'users/base.html' %}
{% load static %}



{% block content  %}
<div class="futureinvestment-wrap">
    {% comment %} <img src="{% static 'users/Market_Money.jpg' %}" alt="Pic of Money news" width='100%' > {% endcomment %}
    <div class="futureinvestment-content">
        <h2 class='text-center'>Future News Investing Page</h2>
        <div class="row" id="news-container" />
        <div class="container text-center">
        <button type="button" id="generatenews">News Report!</button>
    </div>
</div>

{% endblock content %}