{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content  %}

{% comment %} {% for expenses in users_expenses %} {% endcomment %}


<h2 class='text-center'>{{ feedback.total }}</h2>




<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <h2 class= 'h2'>Monthly Income</h2>
        <h3>${{ monthly_income }}</h3>
            <ul>
            {% for postive in feedback.positive %}
            <li class="list-group-item px-3 border-0 rounded-3 list-group-item-success mb-2">{{postive}}</li>
            </ul>
            {% endfor %}
      </div>
      <div class="col">
        <h2>Monthly Expenses</h2>
        <h3>${{ total_expenses }}</h3>
            {% for neg in feedback.negative%}
            <ul>
            <li class="list-group-item px-3 border-0 rounded-3 list-group-item-danger mb-2">{{neg}}</li>
            </ul>
            {% endfor %}
      </div>
      {% comment %} <div class="col">
        One of three columns
      </div> {% endcomment %}
    </div>
  </div>





{% comment %} {% if post.image %}
<img src="{{post.image.url}}" alt="">
{% endif %} {% endcomment %}
{% comment %} <p>{{post.body}}</p>
<p>{{post.user.username}}</p>
<p>{{post.edited_date}}</p> {% endcomment %}



{% comment %} Bar Graph Display {% endcomment %}
<canvas id="horizontalBar"></canvas>
<canvas id="pieChart"></canvas>


{% endblock content %}


{% comment %} {% block title %}
Humbler
{% endblock %}

{% block content %}
<h1>Humbler</h1>

{% for post in posts %}
<h2>{{post.title}}</h2>
{% if post.image %}
<img src="{{post.image.url}}" alt="">
{% endif %}
<p>{{post.body}}</p>
<p>{{post.user.username}}</p>
<p>{{post.edited_date}}</p>
<hr>
{% endfor %}
{% endblock %} {% endcomment %}